@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 375px;
  background-color: rgb(3, 3, 86);
  border-radius: 2rem;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
